
/* input:focus > label {
  color: rgb(225, 51, 51);
  translate: 0 0;
} */
.focusin:focus{
  background-color: rgba(250, 235, 215, 0.355);
}
.focusin:focus > .label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, -2.125rem) scale(1);
}

.focusin>.label {
  transform: translateY(-44px);
  font-size: small;
}

.label {
  letter-spacing: 0.05em;
}

.focusin:focus+.label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, -2.125rem) scale(1);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.focusin:focus::-webkit-input-placeholder {
  opacity: 1;
}

.focusin:not(:placeholder-shown)+.label,
.focusin:focus+.label {
  transform: translate(0, -70px) scale(1);
  cursor: pointer;
}